@import "tailwindcss";

*{
    padding: 0;
    margin: 0;
}
.butt {
  @apply border-2 border-blue-500 bg-neutral-950 text-white px-4 py-2 rounded;
}
body{
    background-color: black;
    font-family:  sans-serif;
    color: white;
}
.test{
     @apply border-2 border-blue-500
}

.gillsans{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
}